#home-page {
    width: 100%;
}

#home-page .sidebar-content{
    display: none;
}

.active {
    display: none;
}
@media(min-width: 700px){
    #home-page{
        display: grid;
        grid-template-areas: 'sidebar session chat';
        grid-template-columns: 5% 25% 70%;
    }
    
    #home-page .sidebar-content{
        display: block;
        grid-area: sidebar;
    }
    #home-page .session-content{
        display: block;
        grid-area: session;
    }
    #home-page .chat-content{
        grid-area: chat;
    }
}