@keyframes pop{
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1);
    }
}

#chat{
    width: 100%;
    position: relative;
    background: #262E35;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#chat .session-off{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#chat .session-off span{
    margin-top: 2rem;
    text-align: center;
    color: #fff;
    font-size: 3rem;
    width: 60%;
}

#chat .session-on header{
    position: absolute;
    width: 100%;
    height: 7rem;
    border-bottom: 1px solid #fff;
    top: 0;
    left: 0;
    
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

#chat .session-on header label {
    background: #fff;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#chat .session-on header label img{
    width: 3rem;
}

#chat .session-on header span{
    font-size: 2rem;
    color: #fff;
    margin-left: 1rem;
}

#chat .session-on footer form{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8rem;
    border-top: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

#chat .session-on footer form input{
    width: 100%;
    height: 5rem;
    background: #36404A;
    border: none;
    outline: none;
    padding-left: 1rem;
    color: #A6B0CF;
    border-radius: 1rem;
}

#chat .session-on footer form button {
    cursor: pointer;
    background: #6159CB;
    color: #fff;
    font-size: 3rem;
    width: 5rem;
    height: 5rem;
    border: none;
    margin-left: 1rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 2ms;
}

#chat .session-on footer button:hover {
    opacity: 0.9;
}

#chat .session-on .chat-content{
    margin-left: 5%;
    width: 90%;
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
    overflow: auto;
    position: absolute;
    bottom: 8rem;
    animation: pop .25s ease;
}

#chat .session-on .chat-content .outgoing {
    justify-content: flex-end;
}

.outgoing,
.incoming {
    margin-bottom: 8px;
    gap: 8px;
}

.outgoing,
.incoming span {
    display: flex;
    padding: 8px;
    font-size: 12px;
    border-radius: 7px;
    box-shadow: 0 3px 6px rgba(0,0,0,.10);
}

.outgoing span{     
    background-color: #36404A;
    color: #ffffff;
}

.incoming span { 
    background-color: #6159CB;
    color: #ffffff;
}

@media(min-width: 700px){
    .outgoing,
    .incoming span {
    font-size: 2rem;
    border-radius: 7px;
    box-shadow: 0 3px 6px rgba(0,0,0,.10);
}
}